header { 
    background-color: $blue;
    .links { 
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        padding: 5px 0;
        
        a { 
            color: white; 
            margin-left: 35px; 
        
            &:nth-child(2) { 
                display: flex;
                i { margin-left: 5px; }
            }
        }
    }
}