main {
    background: $gray;
    .jumbotron { 
        height: 400px;
        background-image: url('../img/jumbotron.jpg');
        position: relative;

        &>div { 
            position: relative; 
            height: 100%;
        }

        span {
            position: absolute;
            bottom: -20px;
            background: $blue;
            color: white;
            font-size: 25px;
            font-family: 'Inconsolata', monospace;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px 15px;
        }
    }

    .comics { 
        .cards { 
            padding: 25px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .card {           
                margin: 35px 10px;
                max-height: 170px;

                img { 
                    width: 170px;
                    height: 170px;
                    object-fit: cover;
                    object-position: top
                }

                h5 { 
                    color: white;
                    text-transform: uppercase;
                    padding: 15px 0;
                    max-width: fit-content;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            
            .load { 
                background: $blue;
                display: block;
                color: white;
                font-weight: bold;
                padding: 10px 60px;
                margin-top: 65px;
                text-transform: uppercase;
                border: unset;
            }
        }
    }

    .icons {
        background: $blue;
        color: white;
        text-transform: uppercase;
        padding: 45px 0;

        &>div {
            display: flex;
            justify-content: space-between;
            
            &>div { 
                display: flex;
                justify-content: center;
                align-items: center;

                span { margin-left: 10px; }
            }
        }
    }
}