main {
    background: $gray;
    .jumbotron { 
        height: 400px;
        background-image: url('../img/jumbotron.jpg');
        position: relative;

        &>div { 
            position: relative; 
            height: 100%;
        }

        span {
            position: absolute;
            bottom: -20px;
            background: $blue;
            color: white;
            font-size: 25px;
            font-family: 'Inconsolata', monospace;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px 15px;
        }
    }

    .comics { 
        .cards { 
            padding: 25px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .card {           
                margin: 35px 10px;
                max-height: 170px;

                img { 
                    width: 170px;
                    height: 170px;
                    object-fit: cover;
                    object-position: top
                }

                h5 { 
                    color: white;
                    text-transform: uppercase;
                    padding: 15px 0;
                    max-width: fit-content;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            
            .load { 
                background: $blue;
                display: block;
                color: white;
                font-weight: bold;
                padding: 10px 60px;
                margin-top: 65px;
                text-transform: uppercase;
                border: unset;
            }
        }
    }

    .icons {
        background: $blue;
        color: white;
        text-transform: uppercase;
        padding: 45px 0;

        &>div {
            display: flex;
            justify-content: space-between;
            
            &>div { 
                display: flex;
                justify-content: center;
                align-items: center;

                span { margin-left: 10px; }
            }
        }
    }

    .comic { 
        .container { padding: 0 80px; }
        
        .comic_card {
            height: 75px;
            background-color: $blue;

            img {
                border: 1px solid white;
                width: 195px;
            }

            .img { 
                position: relative;
                text-transform: uppercase;
                color: white;
                font-size: 12px;
                top: -240px;

                .type, .gallery { 
                    position: absolute;
                    padding: 3px 5px;
                    background-color: $lightblue; 
                }
                .type {
                    top: 1px;
                    left: 1px;
                }
                .gallery { 
                    text-align: center;
                    bottom: 4px; 
                    left: 1px;
                    width: 193px;
                }
            }
        }

        .comic_info { 
            background-color: white;
            position: relative;
            z-index: 2;
            padding: 75px 0;

            .left {
                width: calc(100% - 355px);
                display: inline-block;

                h2 { 
                    color: #003f5e;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                .green_btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    font-weight: bold;
                    border-bottom: 1px solid #357739;
                    margin: 20px 0;

                    .first { 
                        display: flex;
                        justify-content: space-between;
                        flex: 2;
                        padding: 15px 25px;
                        border-right: 1px solid #357739;

                        span { color: white; }

                        em { 
                            color: #bafd9c; 
                            font-style: unset;
                        }
                    }
                    .check {
                        padding: 0 15px; 
                        color: white;
                    }
                }
                p { 
                    color: #555555; 
                    font-size: 14px;
                    line-height: 25px;
                }

                i { vertical-align: text-top; }
            }
            .right { 
                display: inline-block;
                padding: 0 25px;
                position: relative;
        
                img { 
                    position: relative;
                    top: -25px;
                }

                span {
                    color: #555555;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                    position: absolute;
                    top: -45px;
                    right: 20px;
                }
            }
        }
    }
}